button {
  font-size: 1.25rem;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  border: 2px solid;
  background-color: transparent;
  _float: right;
}

.info > button {
  border-color: #276f86;
  color: #276f86;
}

.info > button:hover {
  background-color: #276f86;
  color: white;
}

.success > button {
  border-color: #2c662d;
  color: #2c662d;
}

.success > button:hover {
  background-color: #2c662d;
  color: white;
}

.warning > button {
  border-color: #573a08;
  color: #573a08;
}

.warning > button:hover {
  background-color: #573a08;
  color: white;
}

.error > button {
  border-color: #9f3a38;
  color: #9f3a38;
}

.error > button:hover {
  background-color: #9f3a38;
  color: white;
}
