html,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #d9eee8;
}

#app {
  padding: 2.5rem 1.5rem;
}

.plans {
  width: 80%;
  margin: 1.5rem auto;
}

.plan {
  padding: 1.25rem 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}

.plan.active-plan {
  border: 2px solid green;
}

.plan + .plan {
  margin-top: 1rem;
}

.plan > .description {
  display: flex;
  justify-content: space-between;
}

h1.title {
  font-size: 1.75em;
  color: #333;
}

h2.subtitle {
  font-size: 1.35rem;
  color: #666;
}

h1.title,
h2.subtitle {
  text-align: center;
  font-weight: normal;
}

span.title {
  color: #333;
  font-size: 1.15rem;
}

.plan.active-plan span.title {
  color: darkgreen;
}

span.price {
  color: black;
  font-weight: 600;
}
